// Figures absolute position
@mixin createFigure($width, $height, $left, $top) {
    position: absolute;
  
    width: $width;
    height: $height;
    left: $left;
    top: $top;

    box-shadow: -1.5vmin -1.5vmin 3vmin #FFFFFF, 1.5vmin 1.5vmin 3vmin rgba(174, 174, 192, 0.4);
    border-radius: 2vmin;
  }