//size
$calc-height: 85vh;
$calc-width: $calc-height / 2;
$calcPad-height: 0.64 * $calc-height;
$calcPadRow-height: 0.13 * $calcPad-height;

// color


// font-sizes
$fz-big: 0.075 * $calc-height;
$fz-medium: 0.5625 * $fz-big;

